target/
!.mvn/wrapper/maven-wrapper.jar
!.option

# Compiled class file
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE & Editor Settings
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS junk
.DS_Store
Thumbs.db
